@using Jewerly.Web.Utils
@model Jewerly.Web.Models.ShoppingCartMiniModel


    <div id="mini-shopping-cart-items">
        @if (Model.Items.Any())
        {
            <div class="buttons clearfix">
                <a href="@Url.Action("Index", "ShoppingCart")" class="btn btn-default btn-sm pull-left">В корзину</a>
                <a href="@Url.Action("AddressAndPayment", "Checkout")" class="btn btn-default btn-sm pull-right">Оформить заказ</a>
            </div>
    <div class="items">

        @foreach (var item in Model.Items)
        {
            <div class="item row mgo">
                <div class="picture col-xs-3" style="padding: 0">
                    <a title="@item.Name" href="@Url.Action("Details", "Store", new {id = item.ProductId, name = item.SeoName})">
                        <img title="@item.Name" src="@item.Picture" alt="@item.Name" class="img-responsive">
                    </a>
                </div>
                <div class="product col-xs-9" style="padding: 2px">
                    <div class="name">
                        <a href="@Url.Action("Details", "Store", new {id = item.ProductId, name = item.SeoName})">@item.Name</a>
                    </div>
                    <div>Цена: <span class="price">@item.UnitPrice.ToString("F2") @item.Currency</span></div>
                    <div class="quantity">Количество: <span>@item.Quantity</span></div>
                    <hr />
                </div>
            </div>
          }
    </div>
        }
        else
        {
            <div class="text-center">В корзине нет товаров.</div>
        }
    </div>
