@using Jewerly.Web.Utils
@model Jewerly.Domain.Entities.Order

@{
    int counter = 1;
    string baseUrl = ViewBag.baseurl;
}
<div>
    <div>Заказ № @Model.Id</div>
    <div>от <b>@Model.OrderDate.ToLongDateString()</b></div>
    <div>Заказчик - @(Model.LastName + " " + Model.FirstName)</div>
    <div>Телефон - @Model.Phone</div>
    <div>E-mail - @Model.Email</div>
    <div>Коментарии - @Model.TextInfo</div>
    <div>
        <table style="border-style: double; padding: 5px;">
            <th>№</th>
            <th>Артикул</th>
            <th>Изображение</th>
            <th>Название</th>
            <th>Количество</th>
            <th>Цена (@Model.Currency.CurrencyCode)</th>
            <th>Сумма (@Model.Currency.CurrencyCode)</th>
            
            @foreach (var item in Model.OrderDetails)
            {
                <tr>
                    <td>@counter</td>
                    <td>@item.Id</td>
                    <td><img title='@item.Product.Name' alt="@item.Product.Name" src="@(baseUrl + item.Product.Picture.Preview())"/></td>
                    <td>@item.Product.Name</td>
                    <td>@item.Quantity.ToString("F2")</td>
                    <td>@item.UnitPrice.ToString("F2")</td>
                    <td>@((item.Quantity*item.UnitPrice).ToString("F2"))</td>
                </tr>
                counter += 1;
            }
        </table>
    </div>
        <p>Сумма заказа @Model.Total.ToString("F2") @Model.Currency.CurrencyCode</p>
   </div>