@using Jewerly.Domain.Entities
@using Jewerly.Web.Utils
@model Jewerly.Domain.Entities.Order

@{
    ViewBag.Title = "Заказы";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h2>Удаление</h2>

<h3>Подтвердите удаление</h3>
<div>
    <h4>Заказ</h4>
    <hr/>
    <div class="form-horizontal">

        <div class="form-group">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.LastName)
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.LastName)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.FirstName)
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.FirstName)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.MiddleName)
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.MiddleName)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.OrderDate)
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.OrderDate)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.Email)
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.Phone)
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Phone)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
               Метод доставки
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.MethodOfDelivery.Name)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.Country.Name)
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Country.Name)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.City)
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.City)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.TextInfo)
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.TextInfo)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                Оплата
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.MethodOfPayment.Name)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">Сумма (@Model.Currency.CurrencyCode)</div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Total)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
               Статус
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.OrderStatus.Name)
            </div>
        </div>
    </div>
    <div>
        <table class="table table-bordered">
            <tr>
                <td>Артикул</td>
                <td>Название</td>
                <td></td>
                <td>Количесиво</td>
                <td>Цена @Model.Currency.CurrencyCode</td>
                <td>
                    Сумма @Model.Currency.CurrencyCode
                </td>
            </tr>
            @foreach (OrderDetail item in Model.OrderDetails)
            {
                <tr>
                    <td>@item.Product.ProductId</td>
                    <td>@item.Product.Name</td>
                    <td><img src="@item.Product.Picture.Preview()" /></td>
                    <td>@item.Quantity</td>
                    <td>@item.UnitPrice.ToString("F2")</td>
                    <td>
                        @{
                var t = (item.Quantity * item.UnitPrice).ToString("F2");
                        }
                        @t
                    </td>
                </tr>
            }
        </table>

    </div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-primary" />
            <a href="@Url.Action("Index", "Orders")" class="btn btn-default">Назад</a>
        </div>
    }
</div>
