@using Jewerly.Web.Utils
@model IEnumerable<Jewerly.Domain.Entities.Order>

@{
    ViewBag.Title = "Заказы";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h2>Заказы</h2>

<div>
    <form action="@Url.Action("Index")" method="get">
        <div class="form-group">
            <label class="col-md-2">
                Cтатус заказа
            </label>
            <div class="col-md-10">
                @Html.DropDownList("orderStatusId", (ViewBag.OrderStatuses as SelectList), htmlAttributes: new { @class = "form-control", name = "categoryId", id = "categoryId" })
            </div>
        </div>
        <div class="form-group">
          <input type="submit" value="Применить фильтр" class="btn btn-default" />
          </div>
    </form>


    <div>
        Фильтр
        @if (ViewBag.StutusName != null)
        {
            <span>статус заказа:  @ViewBag.StutusName </span>
        }

    </div>
</div>

@if (!Model.Any())
{
    <p style="text-align: center; font-size: 20px">Нет заказов</p>
}
else
{
    

<table class="table table-bordered">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
           ФИО
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
           Статус заказа
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.OrderDate.ToShortDateString()
            </td>
            <td>
                @{
                    var s = item.LastName +" "+ item.FirstName[0]+"." + item.MiddleName[0]+".";
                }
                    @s
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
                @Html.DisplayFor(modelItem => item.Currency.CurrencyCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus.Name)
            </td>
            <td>
                <a href="@Url.Action("Edit", new {id = item.Id})"><span class="glyphicon glyphicon-pencil"></span></a>
                <a href="@Url.Action("Delete", new {id = item.Id})"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
    }

</table>

}
@if (ViewBag.CountPage != null && ((int)ViewBag.CountPage) > 1)
{
    @Html.PageLinks((int)ViewBag.PageNo, (int)ViewBag.CountPage, x => Url.Action("Index", "Orders",
                new
                {
                    orderStatusId = ViewBag.OrderStatusId,
                    page = x
                }))
}
