@model Jewerly.Domain.SliderPicture

@{
    ViewBag.Title = "Удаление";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}



<h2>Удаление</h2>

<h3>Подтвердите удаление</h3>
<div>
    <h4>Изображение слайдера</h4>
    <hr />
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.Path)
            </div>
            <div class="col-md-10">
                <img class="img-responsive shadow" src="@Model.Path" alt="@Model.Text" title="@Model.Text" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.Caption)
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Text)
            </div>
        </div>
       

    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-primary" />
            <a href="@Url.Action("Index", "SliderPictures")" class="btn btn-default">Назад</a>
        </div>
    }
</div>














