@model Jewerly.Domain.ChoiceAttributeOption

@{
    ViewBag.Title = "Опции атрибутов выбора";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h2>Удаление</h2>

<h3>Подтвердите удаление</h3>
<div>
    <h4>Опция атрибута выбора</h4>
    <hr/>
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.ProductChoiceAttribute.Name)
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.ProductChoiceAttribute.Name)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.Name)
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Name)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.DisplayOrder)
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.DisplayOrder)
            </div>
        </div>
    </div>
    <div style="color: red">
        При удалении атрибута, он будет удален со всех продуктов
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-primary" />
            <a href="@Url.Action("Index", "ChoiceAttributeOptions")" class="btn btn-default">Назад</a>
        </div>
    }
    </div>
