@model IEnumerable<Jewerly.Domain.ChoiceAttributeOption>

@{
    ViewBag.Title = "Опции атрибутов выбора";
    Layout = "~/Areas/Admin/Views/Shared/Admin _Layout.cshtml";
}

<h2>Опции атрибутов выбора</h2>

<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductChoiceAttribute.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayOrder)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductChoiceAttribute.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DisplayOrder)
        </td>
        <td>
            <a href="@Url.Action("Edit", new {id = item.ChoiceAttributeOptionId})"><span class="glyphicon glyphicon-pencil"></span></a>
            <a href="@Url.Action("Delete", new {id = item.ChoiceAttributeOptionId})"><span class="glyphicon glyphicon-trash"></span></a>
        </td>
    </tr>
}

</table>
