@model IEnumerable<Jewerly.Domain.ChoiceAttributeOption>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Admin _Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductChoiceAttribute.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayOrder)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductChoiceAttribute.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DisplayOrder)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ChoiceAttributeOptionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ChoiceAttributeOptionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ChoiceAttributeOptionId })
        </td>
    </tr>
}

</table>
