@model  Jewerly.Web.Models.ShoppingCartMiniModel
@if (Model.Items.Any())
{

    <div>
        <button class="btn btn-primary btn-lg pull-left" type="reset">Очистить корзину</button>
        <a href="@Url.Action("AddressAndPayment", "Checkout")" class="btn btn-default btn-lg pull-right">
            Оформить заказ
            <div>Cумма <span>@Model.TotalPrice</span> @Model.Currency</div>
        </a>
    </div>
    <div class="clearfix" style="margin-bottom: 0.5em"></div>
    <table class="table table-responsive table-bordered text-center">
        <tr class="text-primary">
            <td>№</td>
            <td>Артикул</td>
            <td>Название</td>
            <td>Фото</td>
            <td>Количество</td>
            <td>Цена (@Model.Currency)</td>
            <td>Сумма (@Model.Currency)</td>
            <td></td>
        </tr>

        @for (int i = 0; i < Model.Items.Count; i++)
        {
            <tr>
                <td>@(i + 1)</td>
                <td>
                    @Html.DisplayFor(m => m.Items[i].ProductId)
                    @*@Html.HiddenFor(m => m.Items[i].Id)*@

                    <input type="hidden" value="@Model.Items[i].Id"
                           name="Items[@(i)].Id" id="Items_@(i)__Id">
                </td>
                <td>
                    @Html.DisplayFor(m => m.Items[i].Name)
                </td>
                <td>
                    <img style="width: 150px; margin: auto" class="img-responsive shadow" src="@Html.DisplayFor(t => t.Items[i].Picture)"/>
                </td>
                <td>
                    @*@Html.TextBoxFor(m => m.Items[i].Quantity,
                  new { @class = "inp_count", 
                  oldvalue = Model.Items[i].Quantity,
                        min = "1"
                  })*@
                    <input id="@("cart_" + Model.Items[i].Id)" type="text" autocomplete="off" value="@Model.Items[i].Quantity" oldvalue="@Model.Items[i].Quantity" name="Items[@(i)].Quantity" maxlength="3" id="Items_@(i)__Quantity" class="inp_count">
                    <div class="product-qloading">33333</div>
                </td>
                <td>
                    @Html.DisplayFor(m => m.Items[i].UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(m => m.Items[i].TotalPrice)
                </td>
                <td>

                    <button cartid="@Model.Items[i].Id" type="button" class="btn btn-xs btn-danger delete-cart">
                        <span class="glyphicon glyphicon-trash"></span>&nbsp;
                    </button>

                    @*<button class="btn btn-info" type="button"> <span class="glyphicon  glyphicon-trash"></span> </button>*@
                    @*<button type="button">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>*@
                    @*<a href="#"><span class="glyphicon glyphicon-trash"></span></a>*@
                </td>
            </tr>
        }
    </table>
}
else
{
    <h4 class="text-center">Ваша корзина пуста. Вы можете выбрать товар @Html.ActionLink("здесь", "Index", "Store")</h4>
            <div><img src="/Content/img/ring.png" class="img-responsive" alt="TrandyCats" style="margin: auto;" /></div>

}