<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="icon" href="@Url.Content("~/Content/img/Ico.ico")" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>
    <div class="container">

        <!-----Меню----->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="@Url.Action("Index", "Store", new { area = "Default" }, null)">
                        <img src="../../../../Content/img/LogoTrandBig2.png" class="img-responsive" alt="TrandyCats" />
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav nav-pills nav-justified">

                        <li class="dropdown" id="AdminMenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                aria-expanded="false">Продукция<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Категории товаров", "Index", "Categories")</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Товары", "Index", "Products")</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Специальные атрибуты", "Index", "ProductSpecificationAttributes")</li>
                                <li>@Html.ActionLink("Опции специальных атрибутов", "Index", "SpecificationAttributeOptions")</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Атрибуты выбора", "Index", "ProductChoiceAttributes")</li>
                                <li>@Html.ActionLink("Опции атрибутов выбора", "Index", "ChoiceAttributeOptions")</li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" 
                               aria-expanded="false">Галерея<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Фото категорий", "Index", "CategoryPictures")</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Фото товаров", "Index", "Pictures")</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Фото слайдера", "Index", "SliderPictures")</li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Цены<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Скидки", "Index", "Discounts")</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Наценки", "Index", "Markups")</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Курсы валют", "Index", "Currencies")</li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" 
                               aria-expanded="false">Разное<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Отзывы", "Index", "Reviews")</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Страны", "Index", "Countries")</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Методы доставки", "Index", "MethodOfDeliveries")</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Методы оплаты", "Index", "MethodOfPayments")</li>
                             </ul>
                        </li>



                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Клиенты <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Пользователи", "Index", "Users")</li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                               aria-haspopup="true" aria-expanded="false">Заказы <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Заказы", "Index", "Orders")</li>
                              
                            </ul>
                        </li>



                    </ul>
                </div><!-- /.navbar-collapse -->












            </div><!-- /.container-fluid -->
        </nav>
        <!-----Меню End----->

        <div class="row bg shadow">
            @if (TempData["message"] != null)
            {
                <div class="alert alert-success">@TempData["message"]</div>
            }

            @RenderBody()

        </div>

    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">

    $(document).ready(function () {
        $("a.dropdown-toggle").click(function (ev) {
            var t = $(this);
            var g = t.next(".dropdown-menu");
            var tPadding = t.css('padding-left');
            var tPaddingNumber = parseFloat(tPadding);
            var width = t.width();
            var twidth = width + tPaddingNumber * 2;
            var gwidth = g.width();
            var result = ((twidth - gwidth) / 2) + "px";
            g.css("left", result);
        });
    });
    </script>



</body>
</html>