@model Jewerly.Domain.Category

@{
    ViewBag.Title = "Категории товаров";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h2>Создание</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-10">
            <div class="form-horizontal">
                <h4>Категория товаров</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
                    </div>
                </div>




                <div class="form-group">
                    @Html.LabelFor(model => model.SeoName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SeoName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SeoName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Published, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Published)
                            @Html.ValidationMessageFor(model => model.Published, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ShowOnHomePage, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.ShowOnHomePage)
                            @Html.ValidationMessageFor(model => model.ShowOnHomePage, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CategoryPictureId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("CategoryPictureId", null, htmlAttributes: new { @class = "form-control pic-change" })
                        @Html.ValidationMessageFor(model => model.CategoryPictureId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ParentCategoryId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("ParentCategoryId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ParentCategoryId, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Создать" class="btn btn-default" />
                    </div>
                </div>


            </div>
        </div>

        <div class="col-sm-2">
            @*--------------------------------*@
            <div class="absolute_img pull-right">
                <img src='@Html.DisplayFor(model => model.CategoryPicture.Path)' id="prodPic" class="img-responsive shadow" />
            </div>
            @*-------------------------------------*@
        </div>
    </div>
}

<div>
    <a href="@Url.Action("Index", "Categories")" class="btn btn-default">Назад</a>
</div>

@section scripts
{
    <script>
        $(".pic-change").on("change", function () {
            var picId = $(this).val();
            var link = "@Url.Action("ProductPicturebyId")";
            if (picId<1) {
                $("#prodPic").attr("src", "/Content/img/NoImage.gif");
                return;
            }
            
            $.ajax({
                type: "GET",
                url: link,
                traditional: true,
                data: {
                    id:picId
                }
            }).done(function (data) {
                if (data.success === true) {
                    $("#prodPic").attr("src", data.name);
                }
                else {
                    alert(data.errorMessage);
                }
            }).fail(function (e) {
                alert('Ошибка операции');
            });



        });
    </script>
}
