@model IEnumerable<Jewerly.Domain.Category>

@{
    ViewBag.Title = "Категории товаров";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h2>Категории товаров</h2>

<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryPicture.Path)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeoName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Published)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShowOnHomePage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentCategoryId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img class="img-responsive" src="@Html.DisplayFor(modelItem => item.CategoryPicture.Path)" alt="@Html.DisplayFor(modelItem => item.CategoryPicture.AltAttribute)" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeoName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Published)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShowOnHomePage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentCategoryId)
        </td>
        <td>
                <a href="@Url.Action("Edit", new {id = item.Id})"><span class="glyphicon glyphicon-pencil"></span></a>
                <a href="@Url.Action("Delete", new {id = item.Id})"><span class="glyphicon glyphicon-trash"></span></a>
        </td>
    </tr>
}

</table>
