@model Jewerly.Domain.CategoryPicture

@{
    ViewBag.Title = "Изображения категорий";
    Layout = "~/Areas/Admin/Views/Shared/Admin _Layout.cshtml";
}

<h2>Создание</h2>
@using (Html.BeginForm())
{
<h4>Изображение категории</h4>
<hr />

    <div class="form-horizontal">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})

        <div class="form-group">
            <div class="col-md-12">
                <img src="" id="image-preview" alt="uploaded image" class="hidden shadow" />
            </div>
        </div>

        <div class="form-group">
            <div id="UploadImage" style="float: left">Выберите изображение</div>
            <div style="clear: both"></div>
            <div class="danger" style="display: none"></div>
        </div>
        
        <div class="form-group">
            @Html.HiddenFor(t => t.Path)
            @Html.ValidationMessageFor(model => model.Path, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Caption, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Caption, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Caption, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AltAttribute, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.AltAttribute, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.AltAttribute, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TitleAttribute, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.TitleAttribute, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.TitleAttribute, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Создать" class="btn btn-default"/>
            </div>
        </div>
    </div>

}
<div>
    <a href="@Url.Action("Index", "CategoryPictures")" class="btn btn-default">Назад</a>
</div>



@section Scripts {
    <link href="~/Scripts/fine-uploader/fineuploader.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.4.custom.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/file_uploader")
    <script src="~/Scripts/jquery.form.min.js"></script>

   <script type="text/javascript">

       var fileIndex = null;
       
       $().ready(function () {
           fileIndex = new FileIndex();
           fileIndex.init();
       });
       var maxSize = 10 * 1024 * 1024;//8 мб
       var minSize = 5 * 1024;

       function FileIndex() {
           _this = this;
           this.ajaxFileUpload = "/Admin/CategoryPictures/UploadImage";
           this.init = function () {
               $('#UploadImage').fineUploader({
                   request:
                       {
                           endpoint: _this.ajaxFileUpload
                       },

                   validation:
                       {
                           allowedExtensions: ['jpeg', 'jpg', 'gif', 'png', 'JPEG', "JPG"],
                           sizeLimit: maxSize,
                           itemLimit: 1,
                           minSizeLimit: minSize,
                       },
                   multiple: false,
                   dragAndDrop:
                       {
                           disableDefaultDropzone: true //отключаем дроп-зону
                       },
                   messages:
                       { //русифицируем некоторые сообщения и кнопки
                           typeError: "{file}: неверный тип файла. Принимаются только файлы форматов: {extensions}."
                       },
                   text:
                       {
                           uploadButton: 'Выберите фото',
                           failUpload: 'Не закачан!',
                           cancelButton: 'Отмена'
                       },


               })
                   .on('error', function (event, id, name, reason) {
                       //do something
                   })
               .on('complete', function (event, id, name, responseJson) {
                   if (responseJson.success) { // все хорошо ))

                       $("#image-preview").attr("src", responseJson.url);
                       $("#image-preview").removeClass("hidden");
                       $("#Path").attr("value", responseJson.url);

                       // удалим сообщение о успешной загрузке файла
                       setTimeout(function () {
                           $('.qq-upload-list li:last-child').remove();
                       }, 2000);
                   }
               });
           };
       }
  
       function SaveWithChek() {
           var fName = chekName();
           var fImage = chekImage();
           console.log("fName =" + fName + " fImage= " + fImage);

           if (fName && fImage) {
               saveImage();
           }
       }
       function chekName() {
           var i = ($("#Caption").val()).trim().length;
           var erroreMessageName = $("[data-valmsg-for='Caption']");
           if (i == 0) {
               console.log(i);
               $("#Caption").addClass("input-validation-error");
               var str = $("#Caption").attr("data-val-required");
               $(erroreMessageName).text(str); // текст ошибки
               $(erroreMessageName).removeClass("field-validation-valid").addClass("field-validation-error");
               $("#Caption").focus();
               return false;
           }
           if ($("#Caption").hasClass("input-validation-error")) {
               $("#Caption").removeClass("input-validation-error");
               $("[data-valmsg-for='Name']").text("");
               erroreMessageName.removeClass("field-validation-error").addClass("field-validation-valid");

           }
           return true;
       }

       function chekImage() {
           var img = $('#image-preview');
           var erroreMessageImage = $("[data-valmsg-for='Image']");
           var s = img.attr('src'); // картинка
           if (s == "" || s == undefined) {
               erroreMessageImage.text("Необходимо выбрать изображение");
               erroreMessageImage.removeClass("field-validation-valid").addClass("field-validation-error");

               //$('.qq-upload-button').focus();
               return false;
           }
           $("[data-valmsg-for='Save']").text("");
           erroreMessageImage.removeClass("field-validation-error").addClass("field-validation-valid");
           return true;
       }


       function saveImage() {
           var img = $('#image-preview');
           //$('#avatar-crop-box button').addClass('disabled');
           var n = $("#Caption").val();

           $.ajax({
               type: "POST",
               url: "/Admin/CategoryPictures/Save",
               traditional: true,
               data: {
                   img: img.attr('src'),
                   caption: n
               }
           }).done(function (data) {
               if (data.success === true) {
                   window.location.replace("/Admin/CategoryPictures/");
               }
               else {
                   alert(data.errorMessage);
               }
           }).fail(function (e) {
               alert('Ошибка загрузки изображения');
           });
       }


</script>
}

<style>
    .qq-upload-button {
        margin: 10px 0;
    }

    .hidden {
        display: none;
    }
</style>