@model Jewerly.Domain.CategoryPicture

@{
    ViewBag.Title = "Изображения категорий";
    Layout = "~/Areas/Admin/Views/Shared/Admin _Layout.cshtml";
}
<h2>Удаление</h2>

<h3>Подтвердите удаление</h3>
<div>
    <h4>Изображение категории</h4>
    <hr/>
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.Path)
            </div>
            <div class="col-md-10">
                <img class="img-responsive shadow" src="@Model.Path" alt="@Model.Caption" title="@Model.Caption" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.AltAttribute)
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.AltAttribute)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.TitleAttribute)
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.TitleAttribute)
            </div>
        </div>

</div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Удалить" class="btn btn-primary" />
                <a href="@Url.Action("Index", "CategoryPictures")" class="btn btn-default">Назад</a>
            </div>
        }
    </div>
