@using Jewerly.Web.Utils
@model Jewerly.Web.Models.ProductDetailViewModel
@{
    ViewBag.Title = "Trandycats";
    Layout = "~/Areas/Default/Views/Shared/DefaultLayout.cshtml";
}

<div class="col-sm-4 col-md-3">
    <!--левая часть--->
    @Html.Partial("_SiteNavigationMenu", Model.MenuCategories)
</div> <!--левая часть End--->

<div class="col-sm-8 col-md-9">
    <div class="row mgo">
        <div class="content_silver text-center">

            <div class="row">
                <div class="col-md-7">
                    <div class="product-image">
                        @if (Model.Product.Discount != 0)
                        {
                            <div class="discount-img"></div>
                            <div class="discount-nm">
                                <span>@Model.Product.Discount</span>%<br />скидка
                            </div>
                        }
                        <img class="img-responsive" src="@Model.Product.Picture.Image()" alt="@Model.Product.Name" title="@Model.Product.Name">
                    </div>
                </div>
                <div class="col-md-5">

                    <div class="product-info shadow text-center">

                        <h1>@Model.Product.FullName</h1>
                        <div class="product-price">
                            Цена
                            <span class="price">@Model.Product.PriceString</span>
                            @Model.Product.Currency
                        </div>

                        @if (Model.Product.Discount != 0)
                        {
                            <div class="product-price">
                                Старая цена
                                <span style='color: #fff; text-decoration: line-through'>
                                    <span class="price" style='color: #9275F1'>@Model.Product.OldPriceString</span>
                                </span>
                                @Model.Product.Currency
                            </div>
                        }
                        <div class="product-cart">
                            <div>
                                 <input type="number" class="inp_count" value="1">
                                 <button class="btn btn-default btn-sm" type="button" data-toggle="modal" data-target="#myAlert">Купить</button>
                            </div>
                        </div>
                        <div>
                            <table class="table table-responsive table-hover">
                                @foreach (var a in Model.Product.SpecificationAttributes)
                                {
                                    <tr>
                                        <td>@a.Key</td>
                                        <td>@a.Value</td>
                                    </tr>
                                }
                            </table>
                        </div>


                        @for (int i = 0; i < Model.Product.ChoiceAttributes.Count; i++)
                        {
                            <div>
                                @Model.Product.ChoiceAttributes[i].Name
                            </div>
                            <div>

                                @Html.DropDownListFor(m => m.Product.ChoiceAttributes[i].ChoiceAttributeOptions,
                                    new SelectList(Model.Product.ChoiceAttributes[i].ChoiceAttributeOptions, "ChoiceAttributeOptionId", "Name"))

                            </div>
                        }



                        <div class="product-description">
                            @Model.Product.FullDescription
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
