@using Jewerly.Web.Utils
@model IEnumerable<Jewerly.Domain.Picture>

@{
    ViewBag.Title = "Изображения товаров";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}


<h2>Изображения товаров</h2>

<p>
    @Html.ActionLink("Создать", "Create")
</p>

<div class="row">
    @{
        int count = 0;
    }

    @foreach (var item in Model)
    {
        <div class="col-md-3 col-sm-6">
            <div class="product-wrapper sale">
                <div class="product-image text-center">
                    <img class="img-responsive" src="@item.Preview()" alt="@item.Path" title="@item.Path" />
                </div>
                <div class="product-info text-center">
                    <div class="text-uppercase">@item.Caption</div>
                    <a href="@Url.Action("Delete", new { id = item.Id })"><span class="glyphicon glyphicon-trash"></span></a>
                </div>
            </div>
        </div>


        count++;

        if (count == 2)
        {
            <div class="clearfix visible-sm"></div>
        }
        else if (count == 4)
        {
            count = 0;
            <div class="clearfix visible-md"></div>
            <div class="clearfix visible-sm"></div>
        }

    }
</div>


