@model Jewerly.Domain.Markup

@{
    ViewBag.Title = "Наценки";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h2>Удаление</h2>

<h3>Подтвердите удаление</h3>
<div>
    <h4>Наценка</h4>
    <hr/>
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.Name)
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Name)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.Retail)
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Retail)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.Trade)
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Trade)
            </div>
        </div>

    </div>
    <div style="color: red">
        Вы можете удалить наценку, с которой нет созданых продуктов
    </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Удалить" class="btn btn-primary" />
                <a href="@Url.Action("Index", "Markups")" class="btn btn-default">Назад</a>
            </div>
        }
    </div>
